.main-heading {
  font-size: 7vw;
  text-align: center;
  font-weight: 300;
  background-color: rgb(80, 80, 80, 0.3);
  padding: 5rem;
  width: 80%;
  margin: auto;
}
.text {
  margin: 1rem 1rem 2rem 1rem;
  color: rgb(80, 80, 80, 0.5);
  text-align: center;
  font-size: 2vw;
}
.weather-div {
  max-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(80, 80, 80, 0.3);
  padding: 0 2rem 1rem 2rem;
  cursor: pointer;
}
.weather {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-top: -1.3rem;
  max-width: 80%;
}
.image {
  max-width: 5rem;
  max-height: 5rem;
}
.card-heading {
  font-size: 2vw;
  margin: 0;
}
.card-text {
  color: rgb(80, 80, 80, 0.5);
  font-size: 1.3vw;
}
@media only screen and (max-width: 568px) {
  .main-heading {
    font-size: 14vw;
  }
}
@media only screen and (max-width: 925px) {
  .weather {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: -1.3rem;
    flex-wrap: wrap;
  }
  .weather-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(80, 80, 80, 0.3);
    padding: 0 2rem 1rem 2rem;
    margin-top: 5%;
  }
}
@media only screen and (max-width: 416px) {
  .weather {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: -1.3rem;
    flex-wrap: wrap;
  }
  .weather-div {
    display: block;
    width: 100%;
    margin: 1rem auto;
    padding: 2rem;
  }
  .card-heading {
    font-size: 5vw;
    margin: 0;
  }
}
